<br />
<div style="text-align: center; color: white">
  <h2>Daten Mongo DB</h2>
  <div>
    <label class="btn btn-success" (click)="getData(1)">Start Datenfluss</label>&nbsp;
    <label class="btn btn-danger" (click)="stopGetData()">Stop Datenfluss</label
    >&nbsp;
  </div>
</div>
<br />
<br />

<div class="lineChart">
  <apx-chart
    [series]="chartNumberToDos.series"
    [chart]="chartNumberToDos.chart"
    [xaxis]="chartNumberToDos.xaxis"
    [yaxis]="chartNumberToDos.yaxis"
    [dataLabels]="chartNumberToDos.dataLabels"
    [grid]="chartNumberToDos.grid"
    [stroke]="chartNumberToDos.stroke"
    [title]="chartNumberToDos.title"
    [noData]="chartNumberToDos.noData"
  ></apx-chart>
  <br />
</div>

<div id="twoPieCharts">
  <span class="pieChart">
    <apx-chart
      [series]="chartSpaceToDos.series"
      [chart]="chartSpaceToDos.chart"
      [labels]="chartSpaceToDos.labels"
      [responsive]="chartSpaceToDos.responsive"
      [title]="chartSpaceToDos.title"
      [noData]="chartSpaceToDos.noData"
    ></apx-chart>
  </span>

  <span class="pieChart">
    <apx-chart
      [series]="chartSpaceToDos.series"
      [chart]="chartSpaceToDos.chart"
      [labels]="chartSpaceToDos.labels"
      [responsive]="chartSpaceToDos.responsive"
      [title]="chartSpaceToDos.title"
      [noData]="chartSpaceToDos.noData"
    ></apx-chart>
    <br />
  </span>
</div>
<app-toast-container
  aria-live="polite"
  aria-atomic="true"
></app-toast-container>

